* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: rebeccapurple;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 400px;
  background: #fff;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.calculadora {
  border: solid 1px black;
}

.textView {
  width: 260px;
  height: 50px;
  margin: 3px;
  border-width: 5px;
  font-size: 35px;
  text-align: right;
  border-style: solid;
  border-color: #710983;
  background-color: #c33fda;
  color: white;
  cursor: pointer;
}

.table {
  background: lightgray;
  margin: 3px;
}

.btn {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #c941e0;
  color: white;
  cursor: pointer;
}

.btn:hover {
  border-color: blue;
}

.biggerW {
  width: 102px;
}

.biggerH {
  height: 102px;
}

.expr {
  background-color: purple;
}